@model Fiap.Projeto.Web.MVC.ViewModels.RespostaViewModel
@{
    ViewBag.Title = "Listar";
}
<div class="container">
    <div class="fundo2">
        <div class="col-md-4 box">
            <h1>@Model.Pergunta.Aluno.Nome</h1>
            <p class="gray">RM @Model.Pergunta.AlunoRm</p>
        </div>
        <div class="col-md-8 box">
            <h2>@Model.Pergunta.Titulo</h2>
            <p class="gray">@Model.Pergunta.Tag</p>
        </div>
        <div class="col-md-12 box">
            <h3>Descrição</h3>
            <p class="gray lado">@Model.Pergunta.Data</p>
            <p class="descricao">@Model.Pergunta.Descricao</p>
        </div>
    </div>
    <div id="idLinha"></div>
    <div class="pre-scrollable">
        @foreach (var item in Model.Respostas)
        {
            <div class="fundo2">
                <div class="container">
                    <p class="linha">@item.Aluno.Nome</p>
                    <b class="linha">RM @item.AlunoRm</b>
                    <p class="gray lado">@item.Data</p>
                    <p class="descricao">@item.Descricao</p>
                </div>
            </div>
        }
    </div>
    <div>
        <a href="/Resposta/Cadastrar?id=@Model.Pergunta.Id&&rm=@Model.Pergunta.AlunoRm" class="btn btn-primary">Responder</a>
    </div>
</div>
