@model Fiap.Projeto.Web.MVC.ViewModels.PerguntaViewModel
@{
    ViewBag.Title = "Listar";
}

<div class="container">

    <h2 class="magenta">Perguntas</h2>

    @foreach (var item in Model.Perguntas)
    {
        <div class="fundo">
            <h3 class="topzero">@item.Titulo</h3>
            <h4 class="gray">@item.Tag</h4>
            <p class="linha">@item.Aluno.Nome</p>
            <b class="linha">RM @item.AlunoRm</b>
            <p class="gray">@item.Data</p>
            <div class="lado">
                <a href="/Resposta/Listar?id=@item.Id&&rm=@item.AlunoRm" class="btn btn-primary linha">Responder</a>
            </div>
        </div>
    }

</div>